[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
pandas = "*"
flask = "*"
jupyter = "*"
tqdm = "*"
notebook = "==7.1.2"
openai = "*"
elasticsearch = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.12"
